<a href="#" class="easyadmin-thumbnail" data-featherlight="#easyadmin-lightbox-{{ uuid }}" data-featherlight-close-on-click="anywhere">
    <img src="https://wdev.be/wdev_roel/eindwerk/image.php?{{ item.image.image }}&height=300&image=/wdev_roel/eindwerk/system/img/albums/{{ item.image.image }}">
</a>

<div id="easyadmin-lightbox-{{ uuid }}" class="easyadmin-lightbox">
    <img src="https://wdev.be/wdev_roel/eindwerk/system/img/albums/{{ item.image.image }}">
</div>

